@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Titillium+Web:wght@600&display=swap');

body, .modal-content{
    background: #2f2f2f;
    color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
    /* background-attachment: fixed; */
}

.feather {
    width: 50px;
    height: 50px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

#tituloLogin{
    font-size: 30px;
    text-align: center;
}

#login {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 50px;
  margin-top: 100px;
  border-radius: 15px;
}

#inputsLogin {
  display: flex;
  flex-direction: column;
}

#inputsLogin span{
    margin-top: 60px;
}

#inputsLogin input, .inputs, 
#inputsUpdateProfile input{
    border-radius: 40px;
    text-align: center;
    height: 40px;
    font-size: 1.2rem;
    color: #000;
}

#senha {
    position: relative;
}

.mostrarSenha {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    color: #2f2f2f;
}

#senha input {
    padding-right: 30px; 
}

#btnEntrar{
    margin-top: 10px;
    color: #2f2f2f;
}

.btnExt{
    border-radius: 10px;
}

.create{
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
}

#novaConta{
  color: #f0f8ff;
  cursor: pointer;
}

.close{
    color: #fff;
}

/* Tela de atualização */
#tituloUpdateProfile {
    font-size: 30px;
    text-align: center;
}

#updateProfile {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 50px;
    margin-top: 100px;
    border-radius: 15px;
}

#inputsUpdateProfile {
    display: flex;
    flex-direction: column;
}

#inputsUpdateProfile .form-group {
    margin-bottom: 20px;
}

#btnAtualizar {
    margin-top: 10px;
    color: #2f2f2f;
}

.btnExt {
    border-radius: 10px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

#cartao, #chavePix{
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}   